body {
  @include reset;
  font-family: $main-fonts;
  font-size: $main-font-size;
  font-weight: $main-font-weight;
  color: $main-color-text;
  line-height: 24px;
}

a {
  display: block;
  text-decoration: none;
}


img {
  max-width: 100%;
  height: auto;
}

ul {
  @include reset-list;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}


html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
    min-width: 1366px;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.button {
  width: 205px;
  height: 64px;
  display: block;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  color: #ffffff;
  letter-spacing: 0.05em;
  text-decoration: none;
  text-transform: uppercase;
}
